body {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(159, 189, 201);
}
.switch-container {
  text-align: center;
  padding: 200px;
  font-size: 40px;
}
nav ul {
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(0, 89, 255, 0.289);
}
nav ul li {
  list-style: none;
  margin-inline: 70px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 30px;
  text-decoration: none;
}

nav a {
  text-decoration: none;
  color: black;
}
nav a:hover {
  color: rgba(68, 100, 124, 0.871);
}
.login {
  width: 240px;
}
